:root{
    --background-color: #D8D8D8;
    --up-button-color: #b5e7a0;
    --down-button: #dac292;
    --current-text-color: #b1cbbb;
    --reading-rest-color: #f7cac9;
    --done-text-color: #80ced6;
}
*{
    background-color: var(--background-color);
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

#hadith-parent{
    width: 100%;
    height: 100px;
    border: 3px solid red;
    /* overflow: hidden; */
}

#hadith-child{
    width: 100%;
    height: 100%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    padding : 11px;
    /* box-sizing: content-box; */
} 


.hadith-child{
    border: 3px solid;
}

.all-container{
    /* position: relative; */
    margin-top: 25px;
    padding-top: 25px;
}


.up-button{
    color: var(--up-button-color);
    background-color: var(--up-button-color) !important;
    
}
.button-sizing{
    padding: 5rem !important;
    font-size: 15px !important;
    width: 100%;
    height: 35%;
}
.down-button{
    color: var(--down-button);
    background-color: var(--down-button) !important;

}
.button-text-up{
    font-size: 5rem;
    background-color: var(--up-button-color);

}
.button-text-down{
    font-size: 5rem;
    background-color: var(--down-button);

}

#display-count{
    display: block;
    font-size: 2rem;
    text-decoration: underline;
    background-color: var(--up-button-color);
    color:black;
}

/* hadith content style */
.hadith-title{
    margin-bottom: 21px;
    text-align: center;
}

.hadith-contents{
    text-align: justify;
    margin: 5px;
    padding: 11px;
    /* border: 3px solid; */
    height: 100vh;
    overflow: scroll;
}
.reference{
    color: salmon;
}